<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about us</title>
    <style>
        p
        {
        font-size: 18px;
        }
    </style>
</head>
<body>
<h1>About 'Password Generator'</h1>
<p>sometimes, when you sign up you ask yourself 'Ok, which password I have to input to save my account?' and this website help u
make strong password to protect your account. Just click this button to go create your 'strong password'!!</p>
<a href="{% url 'home' %}"><button>Home</button></a>
</body>
</html>